*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-family: 'manrope';

}

nav{
    display: flex;
    justify-content: center;
    margin: 3em;
}

a{
    text-decoration: none;
    color: black;
}


.logincontainer{
        display: flex;
        justify-content: center;
        .labelregister{
            display: flex;
            flex-direction: column;
        }
    }

    .registercontainer{
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        div{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                margin-bottom: 2em;
                width: 18em;
                padding: 0.2em;
                border-radius: 50px;
                background-color: rgb(254,255,242);
                border: 5px solid rgb(234,234,234);
                text-align: center;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }
            label{
            margin-bottom: 0.5em;
            font-weight: bold;
            }
            
        }
        .bouton{
                width: 10em;
                font-size: 0.7em;
                margin-bottom: 1em;
        }
    }
    
    .login{
        width: 20em;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        input{
            margin-bottom: 2em;
            align-items: center;
        }
        .bouton
        {
            width: 10em;
            font-size: 0.8em;
        }
        label{
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        .label{
            width: 18em;
            padding: 0.2em;
            border-radius: 50px;
            background-color: rgb(254,255,242);
            border: 5px solid rgb(234,234,234);
            text-align: center;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        .logintext{
            margin-bottom: 0.5em;
        }
    }

a.center, p.center{
    width: 100%;
    text-align: center;
}

.lienstagiaire{
    font-weight: bolder;
}

.navdeco{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav{
    height: 2.5em;
    width: 90%;
    font-size: 2.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254,255,242);
    padding: 0 1.5em;

    border-radius: 100px;
    border: 5px solid rgb(234,234,234);

    a{
        text-decoration: none;
        color: black;
    }

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

body{
    background-image: url(/img/fond.svg);
    background-size: 100%;
    background-attachment: fixed;
}


.h2stagiaire{
    padding: 5em;
}

.header{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    .close{
        width: 3%;
    }
    .croix{
        width: 100%;
    }
}

.titresecondaire{
    margin: 1.5em 0;
    text-align: center;
    font-size: 4em;
    font-weight: 500;
}

.addprogsession{
    margin: 0 4em;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.bouton{
    display: flex;
    background-color: rgb(247,241,206);
    border: 5px solid rgb(234,234,234);
    align-items: center;
    justify-content: center;
    width: 21%;
    height: 3em;
    padding: 0 1.5em;
    border-radius: 50px;

    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.addstagiaire{
    justify-content: end;
    .bouton1{
        width: fit-content;
    }
}

.titre{
    justify-content: center;
    display: flex;
    .close{
        width: 5%;
        margin-left: 5em;
        display: flex;
        align-items: center;
        img{
            width: 30%;
        }
    }
}

.fc{
    width: 50%;
    margin: auto;
    margin-bottom: 10em;

}

.fc-view-harness, fc-view-harness-active{
        background-color: white;
}


.stagiairepopup{
    background-image: url(/img/fond.svg);
    background-attachment: fixed;
    position:fixed;
    top: 15%;
    padding-bottom: 3em;
    width: 60em;
    height: fit-content;
    text-align: center;
    border: 5px solid gray;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    a{
        text-decoration: none;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        width: 70%;
        margin-top: 1em;
        font-size: 3em;
    }
    h3{
        margin-top: 2em;
        font-size: 1.5em;
        padding: 0 4em;
        color: rgb(116, 4, 4);
    }
    .close{
        text-align: end;
        margin-right: -23em;
        margin-top: 2em;
        width: fit-content;
        img{
            width: 5%;
        }
    }
        .boutoncreatemodule{
        width: fit-content;
        margin-top: 2em;
    }
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    visibility: hidden;
    .boutonsuprsession{
        color{
            color: rgb(255, 255, 255);
        }
    }
    
    form{
        margin-top: 2em;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2em;
        label{
            margin-bottom: 1em;
        }
        select, .duree, input[type="text"], .datetime, input[type="number"]{
            width: fit-content;
            border-radius: 50px;
            padding: 1em;
            background-color: rgb(254,255,242);
            border: 5px solid rgb(234,234,234);
            text-align: center;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        select.moduleinput{
            margin-left: 2em;
        }
        .duree{
            width: 20%;
        }
        .bouton{
            margin-top: 2em;
            width: fit-content;
            font-size: 0.7em;
            cursor: pointer;
        }
        
    }
}

#popupCreateSession
{
    height: fit-content;
    width: 70em;
    padding-bottom: 4em;
    top: 10%;
    label{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }
    form{
        margin-top: 1em;
        input[type="text"]{
        width: 25em;
        }
        input[type="number"]
        {
            width: 4em;
        }
        .bouton{
            margin-top: 3em;
        }
    }
    .close{
        margin-right: -33em;
    }
    
    
}

.label{
    margin-bottom: 1.5em;
    font-size: 1em;
}

.open-popup-stagiaire, .open-popup-module, .open-popup-createModule, .open-popup-createSession, .open-popup-suprSession{
    visibility: visible;
    opacity: 1;
    .boutonsuprsession{
        color: rgb(255, 255, 255);
        background-color: brown;
    }
}


#popupSuprSession{
    
    height: fit-content;
    padding-bottom: 5em;
    .suprSession{
    display: flex;
    gap: 5em;
    margin-top: 2em;
    }
    .boutonsuprsession
    {
        transition: color 1s ease-in;
        transition: background-color 1s ease-in;
    }
    h2{
        color: rgb(160, 3, 3);
    }
}


.stagiairepopupContainer{
    display: flex;
    justify-content: center;
}

.tabname{
    display: flex;
    align-items: center;
    background-color: rgb(245,237,194);
    height: 2em;
    justify-content: space-between;
    padding: 1em 4em;
    border-radius: 44px 44px 0 0;
    border-bottom: 5px solid rgb(234,234,234);
    margin-bottom: 1em;
}

.titretabname{
    font-size: 1.5em;
    text-align: center;
}

.w20{
    width: 20%;
}

.tabnametitre{
    font-size: 1.5em;
}

.sessionContainer{
    display: flex;

    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 10em;
}

.pipe{
    width: 0.3%;
    height: 3em;
    background-color: rgb(216, 216, 216);
    border-radius: 50px;
}

.sessions{
    width: 93%;
    background-color: rgba(255,255,255,0.5);
    min-height: 7em;    
    height: fit-content;
    border: 5px solid rgb(234,234,234);
    border-radius: 50px;
    
}

.session{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    height: fit-content;
    padding: 1.5em 1em;
    width: 95%;
    background-color: rgb(255,255,243);
    border: 5px solid rgb(234,234,234);
    border-radius: 20px;
    overflow-wrap: anywhere;
}

.alertsuccess{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 109, 33);
    margin: 2em 1em;
    font-size: 2em;
}

.alerterror{
    text-align: center;
    font-weight: bold;
    color: rgb(124, 3, 3);
    margin: 2em 1em;
    font-size: 2em;
}



.option{
    text-align: center;
}

.wnomsession{
    width: 24%;
}

.wddebut{
    width: 11.8%;
}

.wdfin{
    width: 10.9%;
}

.wptheorique{
    width: 16.3%;
}

.wpreservee{
    width: 15.3%;
}

.wprestante{
    width: 15.3%;
}

.wdetail{
    width: 5.7%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.modulehead{
    padding: 1em 1.5em;
    font-weight: bold;
}

.wmodule, .wduree{
    width: 49.5%;
    text-align: center;
}

.wmodule1, .wduree1{
    width: 49.9%;
}

.barrehorizontale{
    margin: 0.4em 0;
    border-radius: 20px;
    height: 5px;
    width: 2em;
    background-color: rgb(222,185,64);
}

.listSessionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stagiaireContainer{
    margin-top: 1.5em;
    .wstagiaire{
        width: 100%;
    }
    margin-bottom: 10em;
}

.suprStag{
    width: 50%;
}

.croix, .croixModule{
        width: 5%;
}



.addModule{
    display: flex;
    align-items: center;
    gap: 2em;

    .duree{
        width: 20%;
        height: fit-content;
    }
    .moduleinput{
        width: 50%;
    }
    .dureemodule{
    margin-left: -1.5em;
    font-size: 0.7em;
}
}

.stagiaireForm{
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 7em;
    label{
        font-size: 1.5em;
    }
    .nomPrenomDiv, .adresseTotale, .naissance, .Telmailsexe{
        display: flex;
        text-align: center;
        gap: 2em;
        .sectionForm{
            display: flex;
            flex-direction: column;
        }
    }
    .sectionForm{
        display: flex;
        align-items: center;
    }
    input{
        width: fit-content;
        border-radius: 50px;
        padding: 1em;
        background-color: rgb(254,255,242);
        border: 5px solid rgb(234,234,234);
        text-align: center;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .adresseTotale{
        margin-top: 2em;
        .adresse{
            border-radius: 50px 0 0 50px;
            width: 16em;
        }
        .ville{
            border-radius: 0;
            width: 16em;
        }
        .cp{
            border-radius: 0 50px 50px 0;
            width: 4em;
        }
    }
    .nomPrenomDiv{
        justify-content: center;
        .nom, .prenom{
            width: 20em;
        }
        .nom{
            border-radius: 50px 0 0 50px;
        }
        .prenom{
            border-radius: 0 50px 50px 0;
        }
    }
    .naissance{
        margin-top: 2em;
        justify-content: center;
    }
    .Telmailsexe{
        align-items: center;
        flex-direction: column;
        .email{
            width: 20em;
        }
        .telephone{
            width: 17em;
        }
        .sexe{
            width: 10em;
        }
    }

    .divTotale{
        display: flex;
        gap: 5em;
    }
    input[type="submit"]{
        text-align: center;
        width: 8em;
        font-weight: bold;
        font-size: 1em;
        padding: 1em;
        cursor: pointer;
    }
    .divButton{
        margin-top: 2em;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        margin-bottom: 5em;
    }

}

@media (max-width: 1920px) {

    nav{
        font-size: 0.8em;
    }

    .titre{
        margin-top: -7em;
        font-size: 0.7em;
        gap: 1em;
    }
    
    .stagiairepopup{
        top: 5%;
        width: 50em;
        font-size: 1em;
        h2{
            font-size: 2.5em;
        }
        .close{
            margin-right: -13em;
        }
    }

    #popupCreateSession{
        top: 2%;
        font-size: 0.6em;
        width: 90em;
        h2{
            font-size: 3em;
        }
    }
    .sessions{
        font-size: 0.8em;
    }
    .wnomsession{
    width: 24%;
    }

    .wddebut{
        width: 11%;
    }

    .wdfin{
        width: 10%;
    }

    .wptheorique{
        width: 16.3%;
    }

    .wpreservee{
        width: 15.3%;
    }

    .wprestante{
        width: 15.3%;
    }

    .wdetail{
        width: 5.7%;
        margin-left: 1em;
        display: flex;
        justify-content: center;
    }
    
    .logincontainer{
        display: flex;
        justify-content: center;
        .labelregister{
            display: flex;
            flex-direction: column;
        }
    }

    .registercontainer{
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        div{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                margin-bottom: 2em;
                width: 18em;
                padding: 0.2em;
                border-radius: 50px;
                background-color: rgb(254,255,242);
                border: 5px solid rgb(234,234,234);
                text-align: center;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }
            label{
            margin-bottom: 0.5em;
            font-weight: bold;
            }
            
        }
        .bouton{
                width: 10em;
                font-size: 0.7em;
                margin-bottom: 1em;
        }
    }
    
    .login{
        width: 20em;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        input{
            margin-bottom: 2em;
            align-items: center;
        }
        .bouton
        {
            width: 10em;
            font-size: 0.8em;
        }
        label{
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        .label{
            width: 18em;
            padding: 0.2em;
            border-radius: 50px;
            background-color: rgb(254,255,242);
            border: 5px solid rgb(234,234,234);
            text-align: center;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        .logintext{
            margin-bottom: 0.5em;
        }
    }

    .stagiaireForm{

       .divNewSession{
            display: block;
        } 
    }

    select{
        width: fit-content;
            border-radius: 50px;
            padding: 1em;
            background-color: rgb(254,255,242);
            border: 5px solid rgb(234,234,234);
            text-align: center;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .titre{
        h1{
            margin-left: 0;
        }
    }
}