*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-family: 'manrope';

}

nav{
    display: flex;
    justify-content: center;
    margin: 3em;
}

.nav{
    height: 2.5em;
    width: 90%;
    font-size: 2.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254,255,242);
    padding: 0 1.5em;

    border-radius: 100px;
    border: 5px solid rgb(234,234,234);

    a{
        text-decoration: none;
        color: black;
    }

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

body{
    background-image: url(/img/fond.svg);
    background-size: 100%;
    background-attachment: fixed;
}

.titresecondaire{
    text-align: center;
    font-size: 4em;
    font-weight: 500;
}

.addprogsession{
    margin: 0 4em;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.bouton{
    display: flex;
    background-color: rgb(247,241,206);
    border: 5px solid rgb(234,234,234);
    align-items: center;
    justify-content: center;
    width: 21%;
    height: 3em;
    padding: 0 1.5em;
    border-radius: 50px;

    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 700;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.addstagiaire{
    justify-content: end;
    .bouton1{
        width: fit-content;
    }
}

.tabname{
    display: flex;
    align-items: center;
    background-color: rgb(245,237,194);
    height: 2em;
    justify-content: space-between;
    padding: 1em 4em;
    border-radius: 44px 44px 0 0;
    border-bottom: 5px solid rgb(234,234,234);
    margin-bottom: 1em;
}

.titretabname{
    font-size: 1.5em;
    text-align: center;
}

.w20{
    width: 20%;
}

.tabnametitre{
    font-size: 1.5em;
}

.sessionContainer{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.pipe{
    width: 0.3%;
    height: 3em;
    background-color: rgb(216, 216, 216);
    border-radius: 50px;
}

.sessions{
    width: 93%;
    background-color: rgba(255,255,255,0.5);
    height: fit-content;
    border: 5px solid rgb(234,234,234);
    border-radius: 50px;
    
}

.session{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    height: fit-content;
    padding: 1.5em 1em;
    width: 95%;
    background-color: rgb(255,255,243);
    border: 5px solid rgb(234,234,234);
    border-radius: 20px;
    overflow-wrap: anywhere;
}

.option{
    text-align: center;
}

.wnomsession{
    width: 23.1%;
}

.wddebut{
    width: 11.8%;
}

.wdfin{
    width: 9.6%;
}

.wptheorique{
    width: 16.3%;
}

.wpreservee{
    width: 16%;
}

.wprestante{
    width: 15.7%;
}

.wdetail{
    width: 6.5%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.modulehead{
    padding: 1em 1.5em;
}

.wmodule, .wduree{
    width: 49.5%;
    text-align: center;
}

.wmodule1, .wduree1{
    width: 49.9%;
}

.barrehorizontale{
    margin: 0.4em 0;
    border-radius: 20px;
    height: 5px;
    width: 2em;
    background-color: rgb(222,185,64);
}

.listSessionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}