{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
    <h1 class="titresecondaire">LISTE DES SESSIONS</h1>

    <div class="addprogsession">
        <a class="bouton" href="">Ajouter une session</a>
        <a class="bouton" href="">Programmer une session</a>
    </div>

{% endblock %}