{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
    <h1 class="titresecondaire">LISTE DES SESSIONS</h1>

    <div class="addprogsession">
        <a class="bouton" href="">Ajouter une session</a>
        <a class="bouton" href="">Programmer une session</a>
    </div>

    <div class="sessionContainer">
        <div class="sessions">
            <div class="tabname">
                <p class="titretabname">Intitulé Session</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Date début</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Date de fin</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Places théoriques</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Places Réservées</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Places Restantes</p>
                <div class="pipe"></div>
                <p class="tabnametitre">Détail</p>
            </div>
        </div>
    </div>

{% endblock %}